<%= form_with(model: message, local: true) do |form| %>
  <% if message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
      <% message.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
    <div>
      <small>
        Message names must only use lowercase letters and dashes e.g. <code>${message-name}</code>.
      </small>
    <div>
    <br>
  </div>

  <div class="field">
    <%= form.label :spec %>
    <%= form.text_area :spec %>
    <div>
      <small>
        To embed the output of another Message, enter its name e.g. <code>${name}</code>.
      </small>
    <div>
    </div>
      <small>
        To display embed code as plain text, use two dollar signs e.g. <code>$${name}</code>.
      </small>
    </div>
    <br>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
