
<%= form_with(model: message, local: true) do |form| %>
  <div class="field">
    <%= form.label :name, class: 'label' do %>
      Name <span class="has-text-grey has-text-weight-normal">(required)<span>
    <% end %>
    <div class="control">
      <%= form.text_field :name, class: form_field_classes(:name, message, 'input') %>
    </div>
    <p class="<%= form_field_classes(:name, message, 'help', :too_long) %>">
      Must be 25 characters or less.
    </p>
    <p class="<%= form_field_classes(:name, message, 'help', :invalid) %>">
      Must contain only lowercase letters or dashes e.g. <code>message-name</code>.
    </p>
  </div>

  <div class="field">
    <%= form.label :spec, class: 'label' do %>
      Spec <span class="has-text-grey has-text-weight-normal">(required)</span>
    <% end %>
    <div class="control">
      <%= form.text_area :spec, class: form_field_classes(:spec, message, 'textarea') %>
    </div>
    <p class="<%= form_field_classes(:spec, message, 'help', :too_long) %>">
      Must be 250 characters or less.
    </p>
    <p class="help">
      To embed the output of another Message, enter its Name e.g. <code>${name}</code>.
    </p>
    <p class="help">
      To display embed code as plain text, use two dollar signs e.g. <code>$${name}</code>.
    </p>
  </div>

  <div class="field is-grouped">
    <div class="control">
      <%= form.submit 'Submit', class: 'button is-primary has-text-weight-semibold is-uppercase' %>
    </div>
    <div class="control">
      <%= link_to 'Cancel', messages_path, class: 'button is-text' %>
    </div>
  </div>
<% end %>
