
<%= form_with(model: message, local: true) do |form| %>
  <div class="field">
    <%= form.label :name, class: 'label' %>
    <div class="control">
      <%= form.text_field :name, class: form_field_classes(:name, message, 'input') %>
    </div>
    <p class="<%= form_field_classes(:name, message, 'help') %>">
      Message names must only use lowercase letters and dashes e.g. <code>message-name</code>.
    </p>
  </div>

  <div class="field">
    <%= form.label :spec, class: 'label' %>
    <div class="control">
      <%= form.text_area :spec, class: form_field_classes(:spec, message, 'input') %>
    </div>
    <p class="<%= form_field_classes(:spec, message, 'help') %>">
      To embed the output of another Message, enter its name e.g. <code>${name}</code>.
    </p>
    <p class="<%= form_field_classes(:spec, message, 'help') %>">
      To display embed code as plain text, use two dollar signs e.g. <code>$${name}</code>.
    </p>
  </div>

  <div class="field is-grouped">
    <div class="control">
      <%= form.submit 'Submit', class: 'button is-primary has-text-weight-semibold is-uppercase' %>
    </div>
    <div class="control">
      <%= link_to 'Cancel', messages_path, class: 'button is-text' %>
    </div>
  </div>
<% end %>
